<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <style>
      * {
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;
      }

      .anchorjs-link {
        font-family: anchorjs-icons, serif !important;
      }

      .nav-menu-container {  
        opacity: 0;
        transition: opacity 0.07s ease-in-out;
      }
      .nav-initialized { opacity: 1;
      }

      #segment-breadcrumb {
      opacity: 0;
      transition: opacity 0.07s ease-in-out;
      }
    </style>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <title>{{site.data.pages[page.path].title | escape_once}} - {{site.data.fhir.ig.title | escape_once}} v{{site.data.fhir.ig.version | escape_once}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="http://hl7.org/fhir"/>

    <link href="{{site.data.info.assets}}fhir.css" rel="stylesheet"/>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- <link href="{{site.data.info.assets}}assets/css/bootstrap-fhir.css" rel="stylesheet"/> -->
    <link href="{{site.data.info.assets}}assets/css/untitled-ui.css" rel="stylesheet"/>

    <!-- Project extras -->
    <link href="{{site.data.info.assets}}assets/css/project.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/pygments-manni.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/jquery-ui.css" rel="stylesheet"/>
    <link href="{{site.data.info.assets}}assets/css/prism.css" rel="stylesheet" />
    <link href="{{site.data.info.assets}}assets/css/cqf.css" rel="stylesheet" />
    <link href="{{site.data.info.assets}}assets/css/new-template-style.css" rel="stylesheet" />

    {% include fragment-css.html %}
    
    <script>
      (function() {        
        window.addEventListener('DOMContentLoaded', () => {
          setTimeout(() => {
            document.querySelector('.nav-menu-container').classList.add('nav-initialized');
            document.getElementById('segment-breadcrumb').style.opacity = '1';
          }, 100);
        });
      })();

      document.addEventListener('DOMContentLoaded', function() {
        const breadcrumbItems = document.querySelectorAll('.breadcrumb > li');

        breadcrumbItems.forEach((item, index) => {
          if (index === breadcrumbItems.length - 1) {
          item.classList.add('active');
          }
        });

        const svgSeparator = `
          <li class="breadcrumb-separator">
            <svg id="specChevron" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg" style="transition: transform 0.2s ease;">
              <path d="M1 9L5 5L1 1" stroke="#A0AEC7" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </li>
        `;

        for (let i = breadcrumbItems.length - 1; i > 0; i--) {
          breadcrumbItems[i-1].insertAdjacentHTML('afterend', svgSeparator);
        }
      });

      function copyToClipboard(button) {
          const textToCopy = button.getAttribute('data-clipboard-text');
      
          navigator.clipboard.writeText(textToCopy)
            .then(() => {
            const path = button.querySelector('svg path');
            const originalColor = path.getAttribute('stroke');
            
            path.setAttribute('stroke', '#10B981');
            
            setTimeout(() => {
              path.setAttribute('stroke', '#A0AEC7');
            }, 1000);
        })
        .catch(err => {
          console.error('Failed to copy: ', err);
          
          try {
            const textArea = document.createElement('textarea');
            textArea.value = textToCopy;
            textArea.style.position = 'fixed';
            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();
            
            const successful = document.execCommand('copy');
            
            document.body.removeChild(textArea);
            
            if (successful) {
              const path = button.querySelector('svg path');
              path.setAttribute('stroke', '#10B981');
              setTimeout(() => {
                path.setAttribute('stroke', '#A0AEC7');
              }, 1000);
            }
          } catch (err) {
            console.error('Fallback copy method failed:', err);
          }
        });
      }
    </script>

    <script type="text/javascript" src="fhir-table-scripts.js"> </script>
    <script type="text/javascript" src="{{site.data.info.assets}}assets/js/table-content-scroll.js"> </script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="fhir-logo" sizes="144x144" href="{{site.data.info.assets}}assets/ico/icon-fhir-144.png"/>
    <link rel="fhir-logo" sizes="114x114" href="{{site.data.info.assets}}assets/ico/icon-fhir-114.png"/>
    <link rel="fhir-logo" sizes="72x72" href="{{site.data.info.assets}}assets/ico/icon-fhir-72.png"/>
    <link rel="fhir-logo" href="{{site.data.info.assets}}assets/ico/icon-fhir-57.png"/>
    <link rel="shortcut icon" href="{{site.data.info.assets}}assets/ico/favicon.png"/>
  </head>
  <body onload="document.body.style.opacity='1'">

    <div class="main-wrapper">
      <div id="side-bar" class="position-sticky top-0 vh-100 overflow-auto" style="background-color: #121C2D; min-width: 228px; z-index: 1000;">
        <div class="position-relative overflow-visible" style="height: 74px; padding-left: 24px; border-bottom: 1px solid #FFFFFF29;">
          <div class="h-100 d-flex justify-content-start overflow-visible" style="gap: 16px;">
            <div class="align-self-center">
              <img width="83px" height="42px" src="{{site.data.info.assets}}assets/ico/sidebar-FHIR-logo.png" alt="FHIR sidebar Logo">
              <!-- <img class="logo-img-fhir" style="width: 25%; position: absolute; top: 50%; left: 32%; transform: translateY(-50%);" src="assets/images/fhir.png"> -->
            </div>
          </div>
        </div>
        {% include menu.xml %}
      </div>
      
      <div class="main-section d-flex flex-column justify-content-between">
        {% assign label = {{site.data.pages[page.path].label}} | split: '.0' %}
        <script src="{{site.data.info.assets}}assets/js/prism.js"></script>
        <script type="text/javascript" src="{{site.data.info.assets}}assets/js/mermaid.js"></script>
        <script type="text/javascript" src="{{site.data.info.assets}}assets/js/mermaid-init.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <style type="text/css">
          h2{--heading-prefix:"{{site.data.info.headingOffset}}{{label}}"}
          h3,h4,h5,h6{--heading-prefix:"{{site.data.info.headingOffset}}{{site.data.pages[page.path].label}}"}
        </style>
        
        <header id="sticky-header" class="d-flex justify-content-between align-items-center top-0 w-100 bg-white" 
               style="height: 50px; padding: 36px 48px; border: 1px solid #E7EBF1; z-index: 1000; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);">
          <div style="display: flex; justify-content: center; align-items: center; gap: 24px;">
            <img width="105px" height="38px" src="{{site.data.info.assets}}assets/ico/hl7-logo.png" alt="HL7 Logo">
            <img width="115px" height="40px" src="{{site.data.info.assets}}assets/ico/sparked-logo.png" alt="Sparked Logo">
          </div>


        <div style="display: flex; align-items: center; flex-direction: column;">   
          <div style="font-size: 16px; font-weight: 600; color: #000000;">AU Core Implementation Guide</div>
          <div style="display: flex; align-items: center; gap: 4px; font-size: 14px; font-weight: 500; color: #6F7E97;">1.0.0-ci-build - CI Build 
            <span style="font-size: 22px; font-weight: 500;">🇦🇺</span>
          </div>
        </div>
  
        <div>
          <div class="position-relative" style="max-width: 249px;">
            <input type="text" placeholder="Search" class="ui-input" style="padding-left: 38px; margin: 0px;">
            <span class="d-flex justify-content-center position-absolute" style="left: 16px; top: 50%; transform: translateY(-50%); pointer-events: none;">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 13L10.6667 10.6667M12.3333 6.66667C12.3333 9.79628 9.79628 12.3333 6.66667 12.3333C3.53705 12.3333 1 9.79628 1 6.66667C1 3.53705 3.53705 1 6.66667 1C9.79628 1 12.3333 3.53705 12.3333 6.66667Z" stroke="#889AB9" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </span>
          </div>
        </div>
      </header>

      <a class="dropdown-item" style="display: none;" href="v1.0.0" {% raw %}{% if site.data.pages[page.path].version == 'v1.0.0' %}{% endraw %}style="font-weight: bold;"{% raw %}{% endif %}{% endraw %}>v1.0.0</a>

        <div id="sampleContainer" class="d-flex flex-column h-100" style="padding: 32px 48px 48px 48px;">
          <div id="segment-navbar" class="segment" style="display: none;">  <!-- segment-navbar -->
            <div id="stripe"> </div>
            <div class="container">  <!-- container -->
              <!-- HEADER CONTENT -->
              <nav class="navbar navbar-inverse">
                <!--status-bar-->
                <div class="container">
                  <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button" style="z-index: 100;">
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"> </span>
                  </button>
                  <a class="navbar-brand hidden" href="{{site.data.fhir.path}}index.html">FHIR</a>
                  <div class="nav-collapse collapse navbar-inverse-collapse">
                    {% include menu.xml %}
                  </div>  <!-- /.nav-collapse -->
                </div>  <!-- /.container -->
              </nav>  <!-- /.navbar -->
              <!-- /HEADER CONTENT -->
            </div>  <!-- /container -->
          </div>  <!-- /segment-navbar -->
          
          <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->

          <!--status-bar-->
          {% assign shownav = site.data.info.shownav | downcase | slice: 0 %}
          <div id="segment-breadcrumb" class="segment">  <!-- segment-breadcrumb -->
            <div class="container">  <!-- container -->

              {% assign breadcrumb_content = site.data.pages[page.path].breadcrumb %}
              <ul class="breadcrumb">
                {{ breadcrumb_content }}
              </ul>


              <!-- <ul class="breadcrumb">
                {% if shownav == 'y' %}
                <span style="float:right;">
                  {% if site.data.pages[page.path].previous %}
                  <a href="{{site.data.pages[page.path].previous}}">&lt;prev</a> | 
                  {% endif %}
                  <a href="#bottom">bottom</a>
                  {% if site.data.pages[page.path].next %}
                  | <a href="{{site.data.pages[page.path].next}}">next&gt;</a>
                  {% endif %}
                </span>
                {% endif %}
              </ul> -->
            </div>  <!-- /container -->
          </div>  <!-- /segment-breadcrumb -->

          <a name="top"> </a>
          <div id="segment-content" class="segment">  <!-- segment-content -->
            <div class="container">  <!-- container -->
              <div class="row">
                <div class="inner-wrapper">