
</div>  <!-- /inner-wrapper -->
</div>  <!-- /row -->
</div>  <!-- /container -->

<script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery.js"> </script>     <!-- note keep space here, otherwise it will be transformed to empty tag -> fails -->
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/jquery-ui.min.js"> </script>
{% if includetabscripts %}
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/tabs.js"> </script>
{% endif %}
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/window-hash.js"> </script>
<a name="bottom"> </a>

<footer id="segment-footer" class="mt-5 py-4">
  <div class="container"> 
    {% if shownav == 'y' %}
    <div class="bg-light rounded p-2 mb-4">
      <div class="row">
        <div class="col-4 text-start">
          {% if site.data.pages[page.path].previous %}
            <a href="{{site.data.pages[page.path].previous}}" class="btn btn-outline-secondary btn-sm">&lt; Previous</a>
          {% else %}
            <span class="invisible">&lt; Previous</span>
          {% endif %}
        </div>
        <div class="col-4 text-center">
          <a href="#top" class="btn btn-outline-secondary btn-sm">Top</a>
        </div>
        <div class="col-4 text-end">
          {% if site.data.pages[page.path].next %}
            <a href="{{site.data.pages[page.path].next}}" class="btn btn-outline-secondary btn-sm">Next &gt;</a>
          {% else %}
            <span class="invisible">Next &gt;</span>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    
    <div class="inner-wrapper">
      <p>
        IG &#169; {{site.data.info.copyrightyear}} <a class="link-primary" href="{{site.data.fhir.ig.contact[0].telecom[0]}}">{{site.data.fhir.ig.publisher | escape}}</a>.  Package {{site.data.fhir.packageId}}#{{site.data.fhir.igVer}} based on <a class="link-primary" href="{{site.data.fhir.path}}">FHIR {{site.data.fhir.version}}</a>. Generated <span title="{{site.data.fhir.genDate}}">{{site.data.fhir.genDate | date: "%Y-%m-%d"}}</span>
        <br/>
        <span class="text-muted">
          {% include fragment-footer.html %}
        </span>
      </p>
    </div>
  </div>
</footer>

<div id="segment-post-footer" class="d-none">
  <div class="container">
  </div>
</div>

<script src="{{site.data.info.assets}}assets/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/anchor.min.js"> </script>
<script type="text/javascript" src="assets/js/clipboard.min.js"> </script>
<script type="text/javascript" src="assets/js/clipboard-btn.js"> </script>
<script type="text/javascript" src="{{site.data.info.assets}}assets/js/anchor-hover.js"> </script>

<script type="text/javascript">
document.querySelectorAll(".left-nav-bar .nav-item").forEach(function(item) {
  item.addEventListener("click", function() {
    const dropdownMenu = this.querySelector('.dropdown-menu');
    if (dropdownMenu) {
      dropdownMenu.classList.toggle('show');
    }
  });
});
</script>

</body>
</html>